html, body {
	padding: 10px;
	height: 100%;
	overflow: hidden;
}

body {
	margin:0;
	padding:0px;
	font:16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrapper {
	height: 90%;
}

#map {
	height: 70%;
}

a {
	color:#00B7FF;
}

#legend, #legend_title {
	position:absolute;
	top:50px;
	right:10px;
	width:150px;
	padding:10px;
	background:rgba(34,34,34,1);
	color:#999;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	border-radius:3px;
	max-height:80%;
	overflow:auto;
	z-index:999;
}

#legend_title {
	top:10px;
}

#legend_items {
	position:relative;	
	margin-left:5px;
	top:-1px
}

#entrypanel {
	width: 50%;
	float: left;
	padding: 15px;
}

/*start responsive form*/

* {
	box-sizing: border-box;
}

#container {
	border-radius: 5px;
	background-color: #eaeff9;
	padding: 5px;
}

#container input[type=text], select, textarea {
	width: 100%;
	padding: 2px;
	border-radius: 4px;
	resize: vertical;
	outline:0;
}

#container input[type=text]:focus {
	background-color: #1e90ff;
}

#container label {
	padding: 2px 0;
	display: inline-block;
}

#container input[type=submit]:hover {
	background-color: #45a049;
}

#container .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

#container .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* clear floats after the columns */
#container .row:after {
	content: "";
	display: table;
	clear: both;
}

/* screen is less than 600px wide: make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}
/*responsive form end*/

#infopanel {
	width: 40%;
	float: right;
	padding: 15px;
}

#firstname {
	display: inline-block;
	margin-left: 5px;
	color: orange;
}

#lastname {
	display: inline-block;
	margin-left: 5px;
	color: green;
}

#contactdetails {
	margin-left: 5px;
	color: blue;
}

#coordinates {
	margin-left: 5px;
	color: purple;
}

.errors-heading {
	font-weight: bold;
	color: red;
}

.bluebutton {
	background-color: #2196F3;
	border: none;
	float: right;
	color: white;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px;
	cursor: pointer;
	border-radius: 4px;
}

.bluebutton:focus {
	outline:0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 16px;
	margin-left: 10px;
}
/* hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 11px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
