html, body {
	padding: 10px;
	height: 100%;
	overflow: hidden;
}

body {
	margin:0;
	padding:0px;
	font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map {
	height: 70%;
}

a {
	color:#00B7FF;
}

#legend, #legend_title {
	position:absolute;
	top:50px;
	right:10px;
	width:150px;
	padding:10px;
	background:rgba(34,34,34,1);
	color:#999;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	border-radius:3px;
	max-height:80%;
	overflow:auto;
	z-index:999;
}

#legend_title {
	top:10px;
}

#legend_items {
	position:relative;	
	margin-left:5px;
	top:-1px
}


#firstname {
	display: inline-block;
	color: orange;
}

#lastname {
	display: inline-block;
	margin-left: 5px;
	color: green;
}

#contactdetails {
	color: blue;
}